{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Личный кабинет</h1>
                <hr>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Почта:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Роль:</th>
                        <td>
                            {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                Администратор
                            {% else %}
                                Пользователь
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Баланс:</th>
                        <td>{{ user.balance }} ₽ <a href="{{ path('transactions') }}" style="margin-left: 10px;">История транзакций</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
