{% extends 'base.html.twig' %}

{% block title %}История транзакций{% endblock %}

{% block body %}
    <div class="container">
        <h1>История транзакций</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата</th>
                <th scope="col">Тип</th>
                <th scope="col">Сумма</th>
                <th scope="col">Курс</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions.data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ transaction.created_at|date('Y-m-d H:i') }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }} ₽</td>
                    <td>
                        {% if transaction.course_id is defined %}
                            <a href="{{ path('app_course_show', {'id': transaction.course_id}) }}">{{ transaction.title }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
