{{ form_start(form, {'attr': {'class': 'my-custom-form'}}) }}

{% if form.vars.errors|length > 0 %}
    <!-- Блок для общих ошибок формы -->
    <div class="mb-3">
        <div class="alert alert-danger">{{ form_errors(form) }}</div>
    </div>
{% endif %}

<div class="mb-3">
    {{ form_label(form.title, 'Название', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title, {'attr': {'class': 'form-text'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.description, 'Описание', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.description, {'attr': {'class': 'form-text'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.type, 'Тип', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.type, {'attr': {'class': 'form-text'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.cost, 'Стоимость', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.cost, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.cost, {'attr': {'class': 'form-text'}}) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
