{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}


{% block body %}

    <h1>{{ course.title }}</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}
    <hr>
    {{ include('course/_delete_form.html.twig') }}

{% endblock %}
