{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}

    <h1 class="mb-4">Курсы</h1>

    <div class="row">
        {% for course in courses %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start mb-3">
                            <div>
                                <h4 class="card-title">{{ course.title }}</h4>
                                <p class="card-text">{{ course.description }}</p>
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% if course.type == 'free' %}
                                    <h5 class="text-success">Бесплатно</h5>
                                {% else %}
                                    {% if course.status %}
                                        {% if course.type == 'rent' %}
                                            <h5 class="text-primary">Арендовано до {{ course.status }}</h5>
                                        {% else %}
                                            <h5 class="text-primary">Куплено</h5>
                                        {% endif %}
                                    {% else %}
                                        <h5 class="text-primary">{{ course.price }}₽</h5>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <a href="{{ path('app_course_show', {'id': course.id}) }}" class="text-decoration-none">Пройти</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="alert alert-warning">Курсы не найдены</p>
        {% endfor %}
    </div>
    <hr>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_course_new') }}" class="btn btn-primary">Новый курс</a>
    {% endif %}

{% endblock %}



