{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}

    <h1>Новый курс</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}


    {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <hr>
    <a class="btn btn-outline-dark" href="{{ path('app_course_index') }}">К списку курсов</a>

{% endblock %}
