{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_error }}
        </div>
    {% endfor %}

    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_success }}
        </div>
    {% endfor %}

    <div class="container my-4">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">{{ course.title }}</h1>
                <hr>
                <p class="lead">{{ course.description }}</p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if course.type == 'free' %}
                        <span class="badge bg-success fs-4">Бесплатно</span>
                    {% else %}
                        <span class="badge bg-primary fs-4">{{ course.price }}₽</span>
                    {% endif %}
                    {% set buyButtonLabel = course.type == 'rent' ? 'Арендовать' : 'Купить' %}
                    {% if course.status %}
                        {% if course.type == 'rent' %}
                            <h5 class="text-primary">Арендовано до {{ course.status }}</h5>
                        {% else %}
                            <h5 class="text-primary">Куплено</h5>
                        {% endif %}
                    {% else %}
                        {% if course.type != 'free' %}

                            {% if balance > course.price %}
                                <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#buyModal">
                                    {{ buyButtonLabel }}
                                </button>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="buyModalLabel">Подтверждение покупки</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Вы действительно хотите приобрести данный курс за {{ course.price }}₽?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                            <a href="{{ path('app_course_pay', {'code': course.code}) }}" class="btn btn-primary">Подтвердить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <hr>
                <h2>Уроки</h2>
                <ul>
                    {% for lesson in lessons %}
                        <li><a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.title }}</a></li>
                    {% else %}
                        <li>Уроки не найдены</li>
                    {% endfor %}
                </ul>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="mt-3 d-flex align-items-center">
                        <a href="{{ path('app_course_index') }}" class="btn btn-outline-dark me-2">К списку курсов</a>
                        <a href="{{ path('app_course_edit', {'id': course.id}) }}" class="btn btn-outline-dark me-2">Редактировать курс</a>
                        {{ include('course/_delete_form.html.twig') }}
                        <a href="{{ path('app_lesson_new', {'course_id': course.id}) }}" class="btn btn-outline-dark">Добавить урок</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
