{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <h1>Регистрация</h1>
                <hr>
                {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email, {'attr': {'class': 'invalid-feedback'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.password.first, 'Пароль', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.password.first, {'attr': {'class': 'invalid-feedback'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.password.second, 'Повторите пароль', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.password.second, {'attr': {'class': 'invalid-feedback'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
