{{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
<div class="mb-3">
    {{ form_label(form.title, 'Название урока', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title) }}
</div>

<div class="mb-3">
    {{ form_label(form.content, 'Содержание урока', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.content) }}
</div>

<div class="mb-3">
    {{ form_label(form.number, 'Порядок отображения урока', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.number) }}
</div>

<button type="submit" class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}

