{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}
    <h1>{{ lesson.title }}</h1>

    <p>Курс <a href="{{ path('app_course_show', {'id': course.id}) }}" class="text-decoration-none">{{ course.title }}</a></p>

    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}
    <hr>
    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
