{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}
    <h1>{{ lesson.title }}</h1>

    <p>Курс <a href="{{ path('app_course_show', {'id': course.id}) }}" class="text-decoration-none">{{ course.title }}</a></p>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="d-flex">
            <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}" class="btn btn-outline-dark me-1">Редактировать</a>
            {{ include('lesson/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <div class="card mt-3">
        <div class="card-body">
            {{ lesson.content }}
        </div>
    </div>
{% endblock %}
