<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d7f7ff;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">StudyOn</a>

        <div class="navbar-nav ml-auto">
            {% if app.user %}
                <a class="nav-item nav-link btn btn-success mr-2" href="{{ path('profile') }}">Профиль</a>
                <a class="nav-item nav-link btn btn-danger" href="{{ path('app_logout') }}">Выйти</a>
            {% else %}
                <a class="nav-item nav-link btn btn-primary mr-2" href="{{ path('app_login') }}">Войти</a>
                <a class="nav-item nav-link btn btn-primary" href="{{ path('app_registration') }}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>
