{% extends 'base.html.twig' %}

{% block title %}Доступ запрещен{% endblock %}

{% block body %}

        <h1>Доступ запрещен</h1>
        <p>У вас нет прав для просмотра этой страницы.</p>


{% endblock %}