{% extends 'base.html.twig' %}

{% block title %}Произошла ошибка{% endblock %}

{% block body %}

        <h1>Произошла ошибка</h1>
        <p>Произошла ошибка на сервере. Попробуйте позже.</p>

{% endblock %}