{% extends 'base.html.twig' %}

{% block title %}Страница не найдена{% endblock %}

{% block body %}

            <h1>Страница не найдена</h1>
            <p>Извините, но страница, которую вы ищете, не существует.</p>

{% endblock %}